{% extends "layout.html" %}

{%block Content%}
            <p class="parrafoinicial" style="max-width:600px">
            <h1>A B O U T</h1>
                <p class="parrafo">
                    We are Ie Students developing a webpage for researching purposes. <br/> On this time, we decided to focus on the gaming area. <br/> This webpage will offer several videogames, which some of them are developed by us. <br/>
                    1. Astronaut, game based on one of the dopest games in IOS -> Flappy Birds. <br/>
                    2. Fast and Furious 9  <br/>
                    Hope you love our versions!
                </p>
             </p>

             <p class="aligncenter">
                <img src="/static/logo4.png" alt="Rodrigo´s logo" />
             </p>



{%endblock Content%}