{% extends "layout.html" %}





{%block Content%}
            <p class="parrafoinicial" style="max-width:600px">
            <h1>A B O U T</h1>
                <p class="parrafo">
                    The following game is about racing like a mother fucker gringo.<br/> This game was developed by Carlitos Cañellas, el chulo. <br/> 1. Link to Github:  <br/>
                    Special thanks to Rodrigo Camarena. <br/>
                    Hope you enjoy it!!! Lets race!!!!! Peace <br/>
                </p>
             </p>

             <p class="aligncenter">
                <img src="/static/ff9.jpg" alt="ff9 photo" />
             </p>




{%endblock Content%}