{% extends "layout.html" %}

{%block Content%}
        <p class="parrafoinicial" style="max-width:600px">
            <h1>G A M I N G P E D I A</h1>
            <p class="parrafo">
                We have created a fictional videogame website for an Ie Project. <br/> you will find here several downloadable python videogames such as astronaut or 2 cars. <br/> We would like to listen your feedbacks. <br/> Hope you enjoy it!
            </p>
        </p>

        <p class="aligncenter">
            <img src="/static/giphy7.gif" alt="Profile Photo" />
        </p>






{%endblock Content%}
