

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/home.css">
    <title>G A M I N G P E D I A</title>
</head>
<body>
        <nav class="topnav">
          <a href="/" class="topnav">Home</a>
          <a href="/Games" class="topnav">Games</a>
          <a href="/About" class="topnav">About us</a>
          <a href="/logout" class="topnav">Log out</a>
        </nav>

        {%block Content%}
        {%endblock Content%}

</body>
</html>